/* ----- FOOTER : INSTAGRAM ----- */

#instagram-footer {
  position: relative;
  padding: 10px 20px;
  margin: 5% auto;
  z-index: 1000;

  p {
    text-align: center;
    font-family: $headings-font-family;
  }
}
