/* ----- VARIABLES : BORDERS ----- */

$border-test: 4px solid #D31E45;

$border--thin--pink-bold: 1px solid $pink-bold;
$border--medium--pink-bold: 3px solid $pink-bold;
$border--large--pink-bold: 6px solid $pink-bold;

$border--thin--yellow-bold: 1px solid $yellow-bold;
$border--medium--yellow-bold: 3px solid $yellow-bold;
$border--large--yellow-bold: 6px solid $yellow-bold;

$border--thin--blue-medium: 1px solid $blue-medium;
$border--medium--blue-medium: 3px solid $blue-medium;
$border--large--blue-medium: 6px solid $blue-medium;
$border--big--blue-medium: 12px solid $blue-medium;
$border--huge--blue-medium: 18px solid $blue-medium;

$border--thin--blue-midnight: 1px solid $blue-midnight;
$border--medium--blue-midnight: 3px solid $blue-midnight;
$border--large--blue-midnight: 6px solid $blue-midnight;
$border--big--blue-midnight: 12px solid $blue-midnight;
$border--huge--blue-midnight: 18px solid $blue-midnight;

$border--thin--green-light: 1px solid $green-light;
$border--medium--green-light: 3px solid $green-light;
$border--large--green-light: 6px solid $green-light;

$border--thin--white: 1px solid $white;
$border--medium--white: 3px solid $white;
$border--large--white: 6px solid $white;

$border--thin--black: 1px solid $black;
$border--light--black: 2px solid $black;
$border--medium--black: 3px solid $black;
$border--large--black: 6px solid $black;
