/* ----- VARIABLES : COLORS ----- */


$pink-bold: #ed325a;
$yellow-bold: #fbd861;
$blue-medium: #3dc1d3;
$blue-midnight: #293649;
$green-light: #f6f7d8;
$white: #fff;
$black: #000;


$primary: $pink-bold;
$secondary: $white;



// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
