/* ----- VARIABLES : LINKS ----- */

$text-link-padding-x: 0.2rem;
$text-link-padding-y: 0.2rem;

$link-hover-decoration: none !default;


// navbar link


$navbar-dark-color: $white;
$navbar-toggler-border-radius: 0px;
