/* ----- VARIABLES : TYPOGRAPHY ----- */



$font-family-poppins: "Poppins", sans-serif;
$font-family-roboto: "Roboto", sans-serif;


$font-family-base: $font-family-roboto;
$headings-font-family: $font-family-poppins;

$headings-font-weight: 700 !default;
$font-weight-bold: 700;
