/* ----- FRONTPAGE : INFOS SECTION ----- */

#frontpage-infos-grid {
  padding: 10px 20px;
}

#frontpage-horaires {
  border: $border--large--blue-midnight;
  text-align: center;
  position: relative;
  margin-top: 90px;

  .horaires-titre {
    position: absolute;
    top: -35px;
    left: 15%;
    width: 70%;
    background: $white;
  }

  h2 {
    text-align: center;
    font-size: $font-size-base * 3;
    font-weight: $font-weight-bold;
    color: $blue-midnight;
  }

  ul {
    margin-top: 40px;
    list-style: none;
    padding-inline-start: 0px;

      .lundi {
        margin-bottom: 10px;
        color: lighten($gray-900, 25%);
        font-size: $font-size-base * 0.9;
        a {
          display: block;
        }
      }
    }
  }

#frontpage-infos {
  margin-top: 40px;
  color: $blue-midnight;
}

a#btn-about {
  @extend .btn-simple-blue;
}


// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)

// plus de 600 px
@include media-breakpoint-up(sm) {
} // fin 600 px (sm)

// plus de 840 px
@include media-breakpoint-up(md) {

  a#btn-about {
    font-size: $accent-link--font-size * 1.2;
  }

} // fin 840 px (md)


// plus de 1024 px
@include media-breakpoint-up(lg) {

  #frontpage-infos-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 20%);
  }

  #frontpage-horaires {
    grid-column: 3 / 6;
    grid-row: 1 / span 4;
    border: $border--large--blue-midnight;
    margin-top: -50px;
    text-align: center;
    position: relative;

    .horaires-titre {
      position: absolute;
      top: -35px;
      left: 10%;
      width: 80%;
      background: $green-light;
    }

    h2 {
      text-align: center;
      font-size: $font-size-base * 3;
    }

    ul.horaires  {
      margin: 60px auto;
      padding-left: 30px;
      padding-right: 30px;
    }

  }

  #frontpage-infos {
    grid-column: 8 / 12;
    grid-row: 2 / span 5;
    color: $blue-midnight;
  }



} // fin 1024 px (lg)

// plus de 1280px
@include media-breakpoint-up(xl) {
} // fin 1280 px (xl)

// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
