/* ----- FRONTPAGE : INTRO SECTION ----- */

#frontpage-intro {
  // min-height: 60vh;
  background-color: $pink-bold;
  // background-image: url(images/pattern_1.svg) 200px 400px;
  // z-index: 4;
  font-family: $font-family-poppins;
  padding-bottom: 6vh;

  h1 {
    color: white;
    font-size: $font-size-base * 3.6;
  }

  h6.subheader {
    width: 75vw;
    float: right;
    border: $border--medium--yellow-bold;
    padding: 14px;
    padding-right: 48px;
    font-weight: $font-weight-semi;
    color: $white;
    background: $yellow-bold;
  }

} // end of #fronpage-intro

#frontpage-big-logo {
  display: none;
}

#frontpage-small-logo {
  width: 80vw;
  margin: auto;
  padding-top: 12vh;
  padding-bottom: 8vh;
}

#frontpage-menu {
  color: $white;
  margin: 20px 15vw 20px 25vw;

  ul {
    list-style: none;
    padding-inline-start: 0px;
  }

  li {
    display: inline;
    &:after {
      content: " / ";
    }

    &.first-item {
      display: block;
      &:after {
        content: "";
      }
    }

    &.menu-accent {
      font-weight: $font-weight-bold;
    }

    &.last-item:after {
      content: "";
    }

  } // end of li

} // end of #frontpage-menu




// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)

// plus de 600 px
@include media-breakpoint-up(sm) {
} // fin 600 px (sm)

// plus de 840 px
@include media-breakpoint-up(md) {
  #frontpage-intro {
  height: 90vh;
  grid-template-columns: repeat(8, 1fr);

  h1 {
  font-size: $font-size-base * 4.2;
  }

  }
} // fin 840 px (md)


// plus de 1024 px
@include media-breakpoint-up(lg) {

  #frontpage-intro {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(4, 25%);

  #frontpage-big-logo {
    display: inline;
    grid-column: 2 / 12;
  }

  #frontpage-small-logo {
    display: none;
  }

  #frontpage-menu {
    margin-left: -10px;
    grid-column: 9 / 12;
    // grid-row: 3 / 4;
  }

  #frontpage-subheader {
    color: $white;
    grid-column: 8 / 12;
    // grid-row: 4 / 5;
    width: auto;
    margin: auto;
  }

  h1 {
    font-size: $font-size-base * 8.2;
  }

  p.description {
    margin-left: 15%;
  }

  }


} // fin 1024 px (lg)

// plus de 1280px
@include media-breakpoint-up(xl) {
} // fin 1280 px (xl)

// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
