/* ----- FRONTPAGE : INTRO SECTION ----- */

#frontpage-intro {
  // min-height: 60vh;
  background-color: $pink-bold;
  // background-image: url(images/pattern_1.svg) 200px 400px;
  // z-index: 4;
  font-family: $font-family-poppins;
  padding-bottom: 6vh;
  position: relative;

  h1 {
    color: white;
    font-size: $font-size-base * 3.6;
  }

} // end of #fronpage-intro

#frontpage-pattern {
  display: none;
}

#frontpage-big-logo {
  display: none;
}

#frontpage-small-logo {
  width: 80vw;
  margin: auto;
  padding-top: 12vh;
  padding-bottom: 8vh;
}

#frontpage-menu {
  color: $white;
  margin: 20px 15vw 20px 25vw;

  ul {
    list-style: none;
    padding-inline-start: 0px;
  }

  li {
    display: inline;
    &:after {
      content: " / ";
    }

    &.first-item {
      display: block;
      &:after {
        content: "";
      }
    }

    &.menu-accent {
      font-weight: $font-weight-bold;
    }

    &.last-item:after {
      content: "";
    }

  } // end of li

} // end of #frontpage-menu

#frontpage-subheader {
  width: 75vw;
  float: right;
  border: $border--medium--yellow-bold;
  padding: 12px 48px 8px 12px;
  color: $white;
  background: $yellow-bold;
  h6 {
    font-weight: $font-weight-semi;
  }
}


// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)

// plus de 600 px
@include media-breakpoint-up(sm) {
} // fin 600 px (sm)

// plus de 840 px
@include media-breakpoint-up(md) {
  #frontpage-intro {
  height: 90vh;
  grid-template-columns: repeat(8, 1fr);

  h1 {
  font-size: $font-size-base * 4.2;
  }

  }
} // fin 840 px (md)


// plus de 1024 px
@include media-breakpoint-up(lg) {

  #frontpage-intro {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(4, 25%);

    h1 {
      font-size: $font-size-base * 8.2;
    }

    p.description {
      margin-left: 15%;
    }
  }

  #frontpage-pattern {
    width: 563px;
    height: 700px;
    position: absolute;
    top: 8vh;
    left: 0vw;
  }

  #frontpage-big-logo {
    display: inline;
    margin-top: 10vh;
    grid-column: 2 / 12;
  }

  #frontpage-small-logo {
    display: none;
  }

  #frontpage-menu {
    margin-left: -10px;
    grid-column: 9 / 12;
    // grid-row: 3 / 4;

    ul {
      list-style: none;
      padding-inline-start: 0px;
    }

    li {
      display: block;
      &:after {
        content: "";
      }

    } // end of li

  } // end of #frontpage-menu

  #frontpage-subheader {
    grid-column: 9 / 12;
    margin-left: -10px;
    width: auto;
    float: left;
    border: none;
    border-top: $border--medium--white;
    padding: 10px 0px;
    color: $white;
    background: none;
    h6 {
      font-weight: $font-weight-semi;
    }
  }

} // fin 1024 px (lg)

// plus de 1280px
@include media-breakpoint-up(xl) {
} // fin 1280 px (xl)

// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
