/* ----- ASSETS : BUTTONS ----- */

.btn-regular {
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  transition: all 0.2s ease-out;
}


// big pink button - used in special templates only
a.btn-back-pink {
  color: $pink-bold;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  font-size: $btn-link--font-size * 0.75;
  border-bottom: $border--medium--pink-bold;
  padding-left: 8px;
  padding-right: 9px;
  padding-bottom: 8px;
  transition: all 0.3s ease-out;

  &:hover {
    text-decoration: none;
    opacity: 0.9;
    background-color: $pink-bold;
    color: $white;
  }
}

// big pink button - used in special templates only
a.btn-back-blue {
  color: $blue-medium;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  font-size: $btn-link--font-size * 0.75;
  border-bottom: $border--medium--blue-medium;
  border-top: $border--medium--white;
  padding-bottom: 4px;
  padding-top: 4px;

  &:hover {
    letter-spacing: .15rem;
    transition: all 0.3s ease-out;
    text-decoration: none;
    // opacity: 0.9;
    border-top: $border--medium--blue-medium;
    background-color: $blue-medium;
    color: $white;
    padding-left: 14px;
    padding-right: 14px;
  }
}

// big white button - used in special templates only
a.btn-back-white {
  color: $white;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  font-size: $btn-link--font-size * 0.75;
  border-bottom: $border--medium--white;
  padding-left: 8px;
  padding-right: 9px;
  padding-bottom: 8px;
  transition: all 0.3s ease-out;

  &:hover {
    text-decoration: none;
    opacity: 1;
    background-color: $white;
    color: $black;
  }
}

.btn-simple-black {
  @extend .btn-regular;
  border-bottom: $border--large--black;
}

.btn-simple-yellow {
  @extend .btn-regular;
  color: $yellow-bold;
  border-bottom: $border--large--yellow-bold;
}

.btn-simple-blue {
  @extend .btn-regular;
  color: $blue-medium;
  border-bottom: $border--large--blue-medium;
}

// pink buttons
.btn-pink-bg {
  @extend .btn-regular;
  background: $pink-bold;
  color: $white;
  padding: $btn-padding-y $btn-padding-x;

  &:hover {
    background: transparent;
    color: $pink-bold;
  }
}

.btn-pink-border {
  @extend .btn-regular;
  border: $border--large--pink-bold;
  color: $pink-bold;
  padding: $btn-padding-y $btn-padding-x;

  &:hover {
    background: $pink-bold;
    color: $white;
    text-decoration: none;
  }
}

// yellow buttons
.btn-yellow-bg {
  @extend .btn-regular;
  background: $yellow-bold;
  color: $white;
  padding: $btn-padding-y $btn-padding-x;

  &:hover {
    background: transparent;
    color: $yellow-bold;
  }
}

.btn-yellow-border {
  @extend .btn-regular;
  border: $border--large--yellow-bold;
  color: $yellow-bold;
  padding: $btn-padding-y $btn-padding-x;

  &:hover {
    background: $yellow-bold;
    color: $white;
    text-decoration: none;
  }
}


// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)

// plus de 600 px
@include media-breakpoint-up(sm) {
} // fin 600 px (sm)

// plus de 840 px
@include media-breakpoint-up(md) {
  a.btn-back-white,
  a.btn-back-pink {
    font-size: $btn-link--font-size * 1.2;
  }
} // fin 840 px (md)

// plus de 1024 px
@include media-breakpoint-up(lg) {
  a.btn-back-white,
  a.btn-back-pink {
    font-size: $btn-link--font-size * 1.3;
  }
} // fin 1024 px (lg)

// plus de 1280px
@include media-breakpoint-up(xl) {
  a.btn-back-white,
  a.btn-back-pink {
    font-size: $btn-link--font-size * 1.5;
  }
} // fin 1280 px (xl)

// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
