/* ----- SPECIAL PAGE TEMPLATES : ABOUT PAGE ----- */



#about-page-wrapper {
  .container {
    position: relative;
    width: 82vw;
    z-index: 4;
  }
  h1.entry-title {
    margin-bottom: 40px;
    span {
      border-bottom: $border--large--blue-midnight;
    }
  }
}


// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)

// plus de 600 px
@include media-breakpoint-up(sm) {
} // fin 600 px (sm)

// plus de 840 px
@include media-breakpoint-up(md) {
} // fin 840 px (md)

// plus de 1024 px
@include media-breakpoint-up(lg) {

  #about-page-wrapper {
    .container {
      width: 64vw;
      margin-top: 50px;
    }

  }

  #aboutpage-pattern  {
    z-index: 1;
    img {
      position: fixed;
      bottom: 2vh;
      left: -10vw;
      width: 482px;
      height: 600px;
    }
  }
} // fin 1024 px (lg)

// plus de 1280px
@include media-breakpoint-up(xl) {
} // fin 1280 px (xl)

// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
