/* ----- SPECIAL PAGE TEMPLATES : CONTACT ----- */

#contact-page {
  min-height: 100vh;
  background: $green-light;
  position: relative;


  .entry-title {
    margin-top: 30px;
    text-align: center;
    color: $pink-bold;
    font-size: $entry-title--font-size;
    letter-spacing: 0.25rem;
  }

  .entry-content {
    width: 80%;
    margin: auto;
    p {
      font-size: $font-size-base * 0.85;
    }
  }

  #btn-back-home {
    margin-left: 4vw;
    .fa {
      display: block;
      color: $pink-bold;
    }
  }

}




// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)


// plus de 600 px
@include media-breakpoint-up(sm) {

  #contact-page {

    .entry-title {
      font-size: $entry-title--font-size * 1.15;
    }
  }

} // fin 600 px (sm)


// plus de 840 px
@include media-breakpoint-up(md) {

  #contact-page {

    .entry-title {
      font-size: $entry-title--font-size * 1.25;
    }
  }

} // fin 840 px (md)


// plus de 1024 px
@include media-breakpoint-up(lg) {

  #contact-page {

    .entry-title {
      font-size: $entry-title--font-size * 1.5;
    }

    .entry-content {
      width: 70%;
      margin: auto;
    }
  }

  #btn-back-home {
    position: relative;
    .fa {
      position: absolute;
      top: 45vh;
      left: 0;
      font-size: $font-size-base * 2;
    }
    .btn-back-pink {
      position: absolute;
      top: 45vh;
      left: 0;
      transform: rotate(-90deg);
    }
  }


} // fin 1024 px (lg)


// plus de 1280px
@include media-breakpoint-up(xl) {

  #contact-page {

    .entry-title {
      font-size: $entry-title--font-size * 1.75;
    }

    .entry-content {
      width: 60%;
      margin: auto;
    }
  }

} // fin 1280 px (xl)


// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
