/* ----- SPECIAL PAGE TEMPLATES : THANKS ----- */

#thankyou-page {
  padding: 4vw 4vh;
}

#thankyou-title {
  .entry-title {
    font-size: $entry-title--font-size * 1.2;
    color: $blue-medium;
  }

  .entry-subtitle {
    margin-top: 1rem;
    font-weight: $font-weight-semi;
    border-top: $border--huge--blue-medium;
    h6 {
      color: $blue-medium;
      padding-top: 1rem;
    }
  }
}

.contributor-section {
  margin: 20px auto 40px;
}

.contributor-type {
  // width: 80vw;
  margin-bottom: 28px;
  // text-align: center;
    span {
      border-bottom: $border--large--blue-midnight;
      margin-top: $headings-margin-top;
      padding-bottom: 8px;
    }
}


// plus de 480 px
@include media-breakpoint-up(xs) {
} // fin 480 px (xs)

// plus de 600 px
@include media-breakpoint-up(sm) {
} // fin 600 px (sm)

// plus de 840 px
@include media-breakpoint-up(md) {

} // fin 840 px (md)

// plus de 1024 px
@include media-breakpoint-up(lg) {

  #thankyou-page {
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }

  #thankyou-title {
    padding-top: 4vh;
    background: $white;
    position: sticky;
    top: 1vh;
    clear: both;
    z-index: 100;
    grid-column: 4 / 10;
  }

  #content-thankyou {
    margin-top: 20px;
    z-index: 1;
    grid-column: 5 / 9;
    // display: grid;
    // grid-template-columns: repeat(12,1fr);
  }


  #big-fan,
  #simple-fan,
  #fan-merci {
    // grid-column: 4 / 10;
  }

  .contributor-type {
    margin-left: -2vw;
  }

 #thankyou-back-home {
   grid-column: 5 / 9;
   text-align: center;
 }



  //
  // .contributor-names {
  //   grid-column: 5 / 10;
  // }

} // fin 1024 px (lg)

// plus de 1280px
@include media-breakpoint-up(xl) {

} // fin 1280 px (xl)

// plus de 1440px
@include media-breakpoint-up(xxl) {
} // fin 1440 px (xxl)
